.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button {
    width: 100%;
}

.sender {
    background-color: red;
}

.reciever {
    outline-style: solid;
    outline: 5px;
}