.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button {
    width: 100%;
}

.sender {
    background-color: lightsalmon;
}

.reciever {
    background-color: lightblue;
}